.song-container {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    width: 25%;
    border-radius: 50%;
  }
  h2 {
    padding: 3rem 1rem 1rem 1rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
  }
  h3 {
    font-size: 1rem;
    font-weight: 900;
    letter-spacing: 0.09rem;
    font-weight: lighter;
  }
  a {
    text-decoration: none;
    color: white;
  }
  .artist-fixer {
    padding: 0.5rem 2.5rem;
    border-radius: 25px;
    background: #343239;
    h3 {
      color: white;
    }
  }
}
.rotateSpin {
  animation: spin 20s linear forwards infinite;
}
.pause {
  animation: spin 20s linear forwards infinite;
  animation-play-state: paused;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 768px) {
  .song-container {
    img {
      width: 60%;
    }
  }
}
