* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.App {
  transition: all 0.5s ease;
  animation: opacity 1s ease-out;
}
@keyframes opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.library-active {
  margin-left: 30%;
}
.loader {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 20;
  background-color: #2e2828;
  width: 100%;
  height: 100%;
}
.theme-container {
  min-height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.themer {
  cursor: pointer;
  font-size: 1rem;
  padding: 1rem 2rem;
  border-radius: 20px;
  color: white;
  background-color: #343239;
  outline: none;
  border: none;
  margin-top: 1rem;
  transition: 0.1s ease-in;
  &:hover {
    background-color: #55505f;
  }
}
@media screen and (max-width: 768px) {
  nav {
    .lib-btn {
      z-index: 10;
    }
  }
  .library-active {
    margin-left: 0;
  }
}
@import "./song";
@import "./player";
@import "./nav";
@import "./library";
@import "./footer";
@import "./data";
